<div class="wrapper" ng-controller="stateController" ng-init="searchState()">
    <div class="row col-md-6 col-md-offset-3">
        <h4>Choose your State Name for more information</h4>
        <select class="form-control col-sm-6" ng-model="state" ng-options="state.name for state in searchData" style="margin-top:20px; margin-bottom:60px; ">
        <option value="" disabled selected>Select your State</option>  
        </select>
    </div>
    <table class="wrapper table table-responsive table-bordered">
        <thead>
            <tr>
                <th>State</th>
                <th>Abbreviation</th>
                <th>Capital</th>
                <th>Most-Populous-City</th>
                <th>Population</th>
                <th>Square-Miles</th>
                <th>Time-Zone-1</th>
                <th>Time-Zone-2</th>
                <th>Dst</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-show="state.name" ng-class="{active : state.name}">
                <td>{{state.name}}</td>
                <td>{{state.abbreviation}}</td>
                <td>{{state.capital}}</td>
                <td>{{ state['most-populous-city'] }}</td>
                <td>{{state.population}}</td>
                <td>{{ state['square-miles'] }}</td>
                <td>{{ state['time-zone-1'] }}</td>
                <td>{{ state['time-zone-2'] }}</td>
                <td>{{state.dst}}</td>
            </tr>
        </tbody>
    </table>
</div>