body {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #eee;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-top:20px;
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.search input[type=text] {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('./searchicon.png');
    background-size: 33px 28px;
    background-position: 3px 8px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search .search-focus input[type=text]:focus {
    width: 100%;
}
.wrapper {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.button {
    position: absolute;
    top: 50%;
}
h2 {
  margin-bottom: 50px;
  color: black;
}
h3 {
   color: black;
}
h4 {
  width:383 px;
}
.error {
  color: red;
}
.table {
  width: 1072px;
}
th {
  text-align: center;
  background-color: steelblue;
  color: white;
}
img {
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.loginBackground {
  background-image: url('../images/United-States-Flag.jpg');
  background-size: cover;
}
.login {
  margin-top:100px;
}
.border {
  border-style: solid;
  border-color: black;
}
.home {
  margin-top: 35px;
}
.navColor {
  background-color: lightsteelblue;
}