<div class="container">
  <div>
    <h1>Welcome to United States Search Application</h1>
  </div>
  <div>
    <h3>A brief History of United States of America!</h3>
    <p>A U.S. state is a constituent political entity of the United States. There are 50 states, which are bound together in
      a union with each other. </br>Each state holds administrative jurisdiction over a defined geographic territory, and
      shares its sovereignty with the United States federal government.</p>
  </div>
  <div>
    <ul class="home">
      <li>Please click on <a href="#states">States</a> link on the top navigation bar to search your state</li>
      <li>Please click on <a href="#guestbook">GuestBook</a> link to write a personalized message.</li>
    </ul>
  </div>
</div>